/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-déc.-2016, 9:19:55
    Author     : 2610titoure
*/

* {
    font-family :verdana,sans-serif;
    font-size   :14pt;
}

body {
    width       :700px;
    margin      :20px auto;
    background  :white;
    border-style: double 6px;
    box-shadow  :6px 6px 6px #888;
    border-radius: 5px;
}

html {
    background  : white;
}

.main {
    padding     : 20px;
    text-align:center;
     
}

.tableForm {
    width: 60%;
    margin:auto;
    text-align:left;
}

.subTitle{
    text-align:center;
    text-decoration:underline;
}


.eventHeader div{
    float:left;
    width:100%;
    text-align:left;
    border-bottom:1px solid black;
    margin-bottom: 10px;
    margin-up: 100px;
}

.eventRow{
    clear:both;
}

.eventRow div{
    width:33%;
    float:left;  
    padding: 1px;
    margin-bottom:15px;
}

#createEvent{
    clear:both;
}


#calendars{
    margin:auto;
    display:inline-block;
    width:75%;
}

.calendarHeader div {
    width:32%;
    float:left;
    height:35px;
    text-align:center;
}

.calendarRow
{
    clear: both;
}

.calendarRow div {
    float:left;
    height:35px;
    margin:1px;
    
}

#Sharing{
    text-align: left;
    margin:auto;
    display:inline-block;
    /*width:90%;*/
    width:85%;
}

.SharingHeader div {
    float:left;
    height:35px;
    text-align:left;
}

.SharingPseudoHeader{
    width:30%;
}

.SharingActionsHeader{
    width:69%;
}

.SharingPseudo{
    width:30%;
}

.SharingActions{
    width:69%;
}

.SharingRow div {
    float:left;
    height:35px;
    margin:1px;
    
}


form * {
    font-family: inherit;
    font-size: inherit;
}

.menu {
    text-align  :center;
    padding     :15px;
}

.title {
    text-align  :center;
    background  :lightblue;
    color       :white;
    font-family :helvetica;
    font-size   :20pt;
    font-weight :bold;
    padding     :8px;
    text-shadow :1px 1px 1px black;
    width:50%;
    border-radius: 5px;
    margin:auto;
}

.menu a {
    display           :inline;
    padding           :4px 6px;
    background        :lightblue;
    margin-right      :8px;
    border-radius     :3px;
    color             :white;
    text-shadow :1px 1px 1px black;
    text-decoration   :none;
}
.menu a:hover {
    box-shadow        :2px 2px 2px #888;
    background:white;
    color:lightblue;
}
/*
.menu a:hover {
    color   :black;
}

.message_list {
    border-collapse: collapse;
    width: 100%;
}

.message_list * {
    font-size: 10pt;
}

.message_list th, .message_list td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
*/
textarea {
    width: 100%;
}

.errors {
    background: black;
    color:white;
    padding: 25px;
    margin:20px;
    border:3px dotted white;
    box-shadow        :2px 2px 2px black;
    clear:both;
   
}

.success {
    color: green;
}

form.link {
    display: inline;
}

/*form.link input[type="submit"] {
    background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     color: blue;
     text-decoration: underline;    
     cursor: pointer;
}*/

.btn {
    border-radius   : 5px;
    cursor          : pointer;
    background :white;
    color: lightblue;
    text-shadow :1px 1px 1px black;
}

.btn:hover {
    background:lightblue;
    color             :white;
    box-shadow        :2px 2px 2px black;
}

table, th, td {
    border-collapse:collapse;
    margin: 10px;
    padding: 10px;
    text-align: left;
 }